// Colors
$red: #ff0000;
$dark-red: #f82828;
$grey: rgb(129, 128, 128);
$orange: #ffa500;
$light-orange: #f6b131;
$white: #fff;
$green: rgb(2, 122, 2);

// Table
.table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  &-head {
    &-tr {
      height: 50px;
      display: table-row;
      border-bottom: 1px solid $grey;
    }
  }
    // Table Body
  &-tbody {
    // border-collapse: collapse;
    &-tr {
      height: 45px;
      transition-duration: 0.3s;
      &-Done {
        // font-size: 16px;
        color: $green;
        // margin: 0 auto;
      }
      &-PROGRESS {
        color: $red;
      }
//buttons   
      &-Edit,
      &-Delete {
        cursor: pointer;
        min-width: 70px;
        padding: 5px;
        border: none;
        box-shadow: 0 0 2px $grey;
        border-radius: 4px;
        font-size: 15px;
        &:active {
          transform: translate(0em, 0.15em);
        }
      }
      &-Edit {
        background-color: $orange;
        &:hover {
          background-color: $light-orange;
        }
      }
      &-Delete {
        background-color: $red;
        color: $white;
        &:hover {
          background-color: $dark-red;
        }
      }
      button[disabled] {
        opacity: 0.7;
        color: $white;
        &:active {
          transform: translate(0em, 0em);
        }
      }
    }
  }
}

th,
td {
  padding: 5px;
  text-align: center;
  font-size: 18px;
}

.checkboxWrapper {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}
.checkbox {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: relative;
  left: -5px;
  top: -7px;
  z-index: 2;
  &:checked + label .newCheckbox::before {
    opacity: 1;
  }
}
.newCheckbox {
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 2px;
  border: 1px solid;
  top: 0px;
  left: 0px;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    width: 27px;
    height: 28px;
    background-image: url("./img/check.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -9px;
    left: -5px;
    opacity: 0;
  }
}

